﻿body {
  background: url(../Img/background.png);
  font-size: 16px;
}
h1 {
  width: 100%;
  text-align: center;
  font-family: Microsoft YaHei;
}
.ComForm {
  position: relative;
  margin-left: 25%;
  margin-top: 50px;
}
.compregbtn {
  margin-left: 40px;
}
#CompRegSubmit {
  position: relative;
  margin-left: 25%;
}
.CompRegBtn {
  margin-top: 40px;
}
#ComLogInForm {
  margin-top: 200px;
  position: relative;
  margin-left: 25%;
}
#CompLogSubmit {
  position: relative;
  margin-left: 50%;
}
.complogbtn {
  margin-top: 40px;
  margin-right: 10px;
}
.CompLogBtn {
  position: relative;
  width: 400px;
  margin-left: 20%;
}
#CompRecSubmit {
  position: relative;
  margin-left: 25%;
}
#recpagerdiv {
  position: relative;
  margin-left: 30%;
  margin-top: 20px;
}
.rectable th,
tr,
td {
  text-align: center;
}
.listbtn {
  font-size: 20px;
}
#SiderContent {
  visibility: hidden;
}
.compOperation {
  margin-top: 5px;
}
#Operation {
  visibility: hidden;
}
/*# sourceMappingURL=Company.css.map */