﻿@BaseFontSize: 16px;
@BaseColor: #000;
@BaseFontFamily: "Microsoft YaHei";

body {
    background: url(../Img/background.png);
    font-size: @BaseFontSize;
}

form {
    position: relative;
    margin-left: 25%;
    margin-top: 50px;
}

.GradForm {
    position: relative;
    margin-left: 25%;
    margin-top: 50px;
}

.TimeGroupBtn {
    margin-left: 10px;
    width: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: Microsoft YaHei;
}

.GrudRegBtn {
    position: relative;
    margin-left: 25%;
    margin-top: 40px;
}

#GradRegBtn {
    margin-left: 250px;
    margin-right: 20px;
}

#GrudLogSubmit {
    position: relative;
    margin-left: 25%;
}
