﻿@BaseFontSize: 16px;
@BaseColor: #000;
@BaseFontFamily: "Microsoft YaHei";


body {
    background: url(../Img/background.png);
    font-size: @BaseFontSize;
    height: 720px;
}

#SiderContent {
    visibility: hidden;
}

#content {
    margin-top: 15px;
    width: 800px;
    position: relative;
    margin-left: 15%;
}

#content div a span {
    float: right;
}

#PagerContainer {
    margin-top: 25px;
    width: 800px;
    position: relative;
    margin-left: 15%;
}

.listbtn {
    font-size: 20px;
}

#Operation {
    visibility: hidden;
}
