﻿body {
  background: url(../Img/background.png);
  font-size: 16px;
  height: 720px;
}
#SiderContent {
  visibility: hidden;
}
#content {
  margin-top: 15px;
  width: 800px;
  position: relative;
  margin-left: 15%;
}
#content div a span {
  float: right;
}
#PagerContainer {
  margin-top: 25px;
  width: 800px;
  position: relative;
  margin-left: 15%;
}
.listbtn {
  font-size: 20px;
}
#Operation {
  visibility: hidden;
}
/*# sourceMappingURL=RecList.css.map */